@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
}

header nav .container .navbar-brand img {
  width: 50%;
}
header nav .container .right-side .navbar-nav .start a {
  padding-left: 2vw;
}
header nav .container .right-side .navbar-nav .start a:last-child {
  padding-right: 3vw;
}
header nav .container .right-side .navbar-nav a {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}
header nav .container .right-side .navbar-nav a i {
  font-size: 19px;
}
header nav .container .right-side .navbar-nav a .bi-search:hover {
  color: red;
  transition: 0.6s;
}
header nav .container .right-side .navbar-nav .start a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.6s;
}
header nav .container .right-side .navbar-nav .start a:hover::after {
  width: 100%;
}
header nav .container .right-side .navbar-nav #active-home:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}
header #slider .owl-carousel .item .owl-text-overlay {
  position: absolute;
  padding-top: 8vw;
  padding-left: 11vw;
}
header #slider .owl-carousel .item .owl-text-overlay h2 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 400;
}
header #slider .owl-carousel .item .owl-text-overlay h2 span {
  color: red;
}
header #slider .owl-carousel .item .owl-text-overlay p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 17px;
}
header #slider .owl-carousel .item .owl-text-overlay img {
  width: 40%;
}
header #slider .owl-carousel .both {
  font-size: 26px;
  font-weight: 300;
  position: relative;
  bottom: 22vw;
  color: #afafaf;
}
header #slider .owl-carousel .owl-prev,
header #slider .owl-carousel .owl-next {
  background: none !important;
}
header #slider .owl-carousel .left {
  right: 46vw;
}
header #slider .owl-carousel .right {
  left: 46vw;
}

@media (max-width: 991px) {
  header nav .container {
    display: flex;
    align-items: center !important;
  }
  header nav .container .navbar-brand img {
    width: 50%;
  }
  header nav .container button span {
    display: flex;
    align-items: center !important;
  }
  header nav .container .right-side .navbar-nav .start {
    display: flex;
    flex-direction: column !important;
  }
  header nav .container .right-side .navbar-nav .start a {
    padding-left: 2vw;
  }
  header nav .container .right-side .navbar-nav .start a:last-child {
    padding-right: 0 !important;
  }
  header nav .container .right-side .navbar-nav .end {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  header nav .container .right-side .navbar-nav a {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  header nav .container .right-side .navbar-nav a i {
    font-size: 19px;
  }
  header nav .container .right-side .navbar-nav a .bi-search:hover {
    color: red;
    transition: 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a:hover::after {
    width: 100%;
  }
  header nav .container .right-side .navbar-nav #active-home:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
  }
  header #slider .owl-carousel .item .owl-text-overlay {
    position: absolute;
    padding-top: 2vw !important;
    padding-left: 11vw;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 400;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 span {
    color: red;
  }
  header #slider .owl-carousel .item .owl-text-overlay p {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 17px;
  }
  header #slider .owl-carousel .item .owl-text-overlay img {
    width: 40%;
  }
  header #slider .owl-carousel .both {
    font-size: 26px;
    font-weight: 300;
    position: relative;
    bottom: 22vw;
    color: #afafaf;
  }
  header #slider .owl-carousel .owl-prev,
header #slider .owl-carousel .owl-next {
    background: none !important;
  }
  header #slider .owl-carousel .left {
    right: 46vw;
  }
  header #slider .owl-carousel .right {
    left: 46vw;
  }
}
@media (max-width: 576px) {
  header nav .container {
    display: flex;
    align-items: center !important;
  }
  header nav .container .navbar-brand img {
    width: 50%;
  }
  header nav .container button span {
    display: flex;
    align-items: center !important;
  }
  header nav .container .right-side .navbar-nav .start {
    display: flex;
    flex-direction: column !important;
  }
  header nav .container .right-side .navbar-nav .start a {
    padding-left: 2vw;
  }
  header nav .container .right-side .navbar-nav .start a:last-child {
    padding-right: 0 !important;
  }
  header nav .container .right-side .navbar-nav .end {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  header nav .container .right-side .navbar-nav a {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  header nav .container .right-side .navbar-nav a i {
    font-size: 19px;
  }
  header nav .container .right-side .navbar-nav a .bi-search:hover {
    color: red;
    transition: 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a:hover::after {
    width: 100%;
  }
  header nav .container .right-side .navbar-nav #active-home:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
  }
  header #slider .owl-carousel .item .owl-text-overlay {
    position: absolute;
    padding-top: 2vw !important;
    padding-left: 11vw;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 {
    font-family: "Playfair Display", serif;
    font-size: 25px !important;
    font-weight: 400;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 span {
    color: red;
  }
  header #slider .owl-carousel .item .owl-text-overlay p {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 13px !important;
  }
  header #slider .owl-carousel .item .owl-text-overlay img {
    width: 20% !important;
  }
  header #slider .owl-carousel .both {
    font-size: 26px;
    font-weight: 300;
    position: relative;
    bottom: 23vw !important;
    color: #afafaf;
  }
  header #slider .owl-carousel .owl-prev,
header #slider .owl-carousel .owl-next {
    background: none !important;
  }
  header #slider .owl-carousel .left {
    right: 44vw !important;
  }
  header #slider .owl-carousel .right {
    left: 44vw !important;
  }
}
* {
  box-sizing: border-box;
}

body header #category-filter {
  background-color: #fafaf9;
  padding: 3vw 0;
}
body header #category-filter .container .row .col h1 {
  text-transform: capitalize;
  color: #0e0e0e;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
}
body header #category-filter .container .row .col p {
  font-size: 17px;
  font-family: "Lora", serif;
  color: #6d6a6a;
  font-style: italic;
}
body main {
  padding: 4vw 0;
}
body main #navigation-bar .container .row .left ul {
  padding: 0;
}
body main #navigation-bar .container .row .left ul li {
  list-style-type: none;
}
body main #navigation-bar .container .row .left ul li a {
  color: #1b1b1b;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
}
body main #navigation-bar .container .row .left ul li a:hover {
  color: #f34f3f;
  transition: 0.3s;
}
body main #navigation-bar .container .row .left ul li .red {
  color: #f34f3f;
}
body main #navigation-bar .container .row .right .dropbtn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #1b1b1b;
  background-color: transparent;
  border: none;
}
body main #navigation-bar .container .row .right .dropdown {
  position: relative;
  display: inline-block;
}
body main #navigation-bar .container .row .right .dropdown:hover .dropdown-content {
  display: block;
}
body main #navigation-bar .container .row .right .dropdown-content {
  display: none;
  position: absolute;
  min-width: 400px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first h4,
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second h4 {
  font-family: "Playfair Display", serif;
  color: #464646;
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
  margin-left: 2vw;
}
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li,
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li {
  list-style-type: none;
}
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li a,
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li a {
  text-decoration: none;
  color: #878787;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 0.2vw;
}
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li a:hover,
body main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li a:hover {
  color: #1b1b1b;
  transition: 0.4s;
}
body main #navigation-bar .container .row .right .dropdown-content a {
  text-decoration: none;
  display: block;
}
body main #product-images {
  display: block;
}
body main #product-images .container .row .column img {
  transition: 0.4s;
  width: 100%;
}
body main #product-images .container .row .column img:hover {
  transform: scale(1.05);
}
body main #product-images .container .row .column a {
  text-decoration: none;
}
body main #product-images .container .row .column h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #1b1b1b;
  text-transform: uppercase;
}
body main #product-images .container .row .column p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #afafaf;
  text-transform: uppercase;
}
body footer {
  background-color: #fefaf3;
}
body footer .container {
  padding-top: 5vw;
  padding-bottom: 1vw;
}
body footer .container .row .end {
  margin-bottom: 2vw;
}
body footer .container .row .end .footer-container p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
body footer .container .row .end .footer-container ul {
  margin: 0;
  padding: 0;
}
body footer .container .row .end .footer-container ul li {
  list-style-type: none;
}
body footer .container .row .end .footer-container ul li a {
  text-decoration: none;
  color: #8b8b8b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
body footer .container .row .end .footer-container ul li a:hover {
  color: #f34f3f;
  transition: 0.4s;
}
body footer .container .second {
  border-top: 1px solid #d9d5cf;
}
body footer .container .second .footer-info-container p {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
body footer .container .second .footer-info-container p span {
  color: #6d6a6a;
}
body footer .container .second .social-media .socials a {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
body footer .container .second .social-media .socials a:hover {
  color: #f34f3f;
  transition: 0.4s;
}

@media (max-width: 991px) {
  main #navigation-bar {
    margin-top: 2vw;
  }
  main #navigation-bar .container .row {
    margin-top: -5vw !important;
    display: flex;
    flex-direction: column !important;
  }
  main #navigation-bar .container .row .left ul {
    display: flex;
    flex-direction: column !important;
    padding: 0;
    justify-content: center !important;
    align-items: center !important;
  }
  main #navigation-bar .container .row .left ul li {
    list-style-type: none;
  }
  main #navigation-bar .container .row .left ul li a {
    color: #1b1b1b;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
  }
  main #navigation-bar .container .row .left ul li a:hover {
    color: #f34f3f;
    transition: 0.3s;
  }
  main #navigation-bar .container .row .left ul li .red {
    color: #f34f3f;
  }
  main #navigation-bar .container .row .right {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  main #navigation-bar .container .row .right .dropbtn {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #1b1b1b;
    background-color: transparent;
    border: none;
  }
  main #navigation-bar .container .row .right .dropdown {
    position: relative;
    display: inline-block;
  }
  main #navigation-bar .container .row .right .dropdown:hover .dropdown-content {
    display: block;
  }
  main #navigation-bar .container .row .right .dropdown-content {
    display: none;
    position: absolute;
    min-width: 400px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container {
    display: flex;
    flex-direction: column !important;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first h4,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second h4 {
    font-family: "Playfair Display", serif;
    color: #464646;
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    margin-left: 2vw;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li {
    list-style-type: none;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li a,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li a {
    text-decoration: none;
    color: #878787;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 0.2vw;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li a:hover,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li a:hover {
    color: #1b1b1b;
    transition: 0.4s;
  }
  main #navigation-bar .container .row .right .dropdown-content a {
    text-decoration: none;
    display: block;
  }
  main #product-images {
    display: block;
  }
  main #product-images .container .row .column img {
    transition: 0.4s;
    width: 100%;
  }
  main #product-images .container .row .column img:hover {
    transform: scale(1.05);
  }
  main #product-images .container .row .column a {
    text-decoration: none;
  }
  main #product-images .container .row .column h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #1b1b1b;
    text-transform: uppercase;
  }
  main #product-images .container .row .column p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #afafaf;
    text-transform: uppercase;
  }
  footer {
    background-color: #fefaf3;
  }
  footer .container {
    padding-top: 5vw;
    padding-bottom: 1vw;
  }
  footer .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .container .row .end {
    margin-bottom: 2vw;
  }
  footer .container .row .end .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .row .end .footer-container p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
  }
  footer .container .row .end .footer-container ul {
    margin: 0;
    padding: 0;
  }
  footer .container .row .end .footer-container ul li {
    text-align: center;
    list-style-type: none;
  }
  footer .container .row .end .footer-container ul li a {
    text-decoration: none;
    color: #8b8b8b;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  footer .container .row .end .footer-container ul li a:hover {
    color: #f34f3f;
    transition: 0.4s;
  }
  footer .container .second {
    border-top: 1px solid #d9d5cf;
  }
  footer .container .second .footer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .container .second .footer-info-container p {
    color: #afafaf;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
  footer .container .second .footer-info-container p span {
    color: #6d6a6a;
  }
  footer .container .second .social-media .socials a {
    color: #afafaf;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  footer .container .second .social-media .socials a:hover {
    color: #f34f3f;
    transition: 0.4s;
  }
}
@media (max-width: 576px) {
  main #navigation-bar .container .row {
    margin-top: -5vw !important;
    display: flex;
    flex-direction: column !important;
  }
  main #navigation-bar .container .row .left ul {
    display: flex;
    flex-direction: column !important;
    padding: 0;
    justify-content: center !important;
    align-items: center !important;
  }
  main #navigation-bar .container .row .left ul li {
    list-style-type: none;
  }
  main #navigation-bar .container .row .left ul li a {
    color: #1b1b1b;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
  }
  main #navigation-bar .container .row .left ul li a:hover {
    color: #f34f3f;
    transition: 0.3s;
  }
  main #navigation-bar .container .row .left ul li .red {
    color: #f34f3f;
  }
  main #navigation-bar .container .row .right {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  main #navigation-bar .container .row .right .dropbtn {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #1b1b1b;
    background-color: transparent;
    border: none;
  }
  main #navigation-bar .container .row .right .dropdown {
    position: relative;
    display: inline-block;
  }
  main #navigation-bar .container .row .right .dropdown:hover .dropdown-content {
    display: block;
  }
  main #navigation-bar .container .row .right .dropdown-content {
    display: none;
    position: absolute;
    min-width: 400px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container {
    display: flex;
    flex-direction: column !important;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first h4,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second h4 {
    font-family: "Playfair Display", serif;
    color: #464646;
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    margin-left: 2vw;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li {
    list-style-type: none;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li a,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li a {
    text-decoration: none;
    color: #878787;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 0.2vw;
  }
  main #navigation-bar .container .row .right .dropdown-content .dropdown-container .first ul li a:hover,
main #navigation-bar .container .row .right .dropdown-content .dropdown-container .second ul li a:hover {
    color: #1b1b1b;
    transition: 0.4s;
  }
  main #navigation-bar .container .row .right .dropdown-content a {
    text-decoration: none;
    display: block;
  }
  main #product-images {
    display: block;
  }
  main #product-images .container .row .column img {
    transition: 0.4s;
    width: 100%;
  }
  main #product-images .container .row .column img:hover {
    transform: scale(1.05);
  }
  main #product-images .container .row .column a {
    text-decoration: none;
  }
  main #product-images .container .row .column h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #1b1b1b;
    text-transform: uppercase;
  }
  main #product-images .container .row .column p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #afafaf;
    text-transform: uppercase;
  }
  footer {
    background-color: #fefaf3;
  }
  footer .container {
    padding-top: 5vw;
    padding-bottom: 1vw;
  }
  footer .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .container .row .end {
    margin-bottom: 2vw;
  }
  footer .container .row .end .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .row .end .footer-container p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
  }
  footer .container .row .end .footer-container ul {
    margin: 0;
    padding: 0;
  }
  footer .container .row .end .footer-container ul li {
    text-align: center;
    list-style-type: none;
  }
  footer .container .row .end .footer-container ul li a {
    text-decoration: none;
    color: #8b8b8b;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  footer .container .row .end .footer-container ul li a:hover {
    color: #f34f3f;
    transition: 0.4s;
  }
  footer .container .second {
    border-top: 1px solid #d9d5cf;
  }
  footer .container .second .footer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .container .second .footer-info-container p {
    color: #afafaf;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
  footer .container .second .footer-info-container p span {
    color: #6d6a6a;
  }
  footer .container .second .social-media .socials a {
    color: #afafaf;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  footer .container .second .social-media .socials a:hover {
    color: #f34f3f;
    transition: 0.4s;
  }
}