@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
}

header nav .container .navbar-brand img {
  width: 50%;
}
header nav .container .right-side .navbar-nav .start a {
  padding-left: 2vw;
}
header nav .container .right-side .navbar-nav .start a:last-child {
  padding-right: 3vw;
}
header nav .container .right-side .navbar-nav a {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}
header nav .container .right-side .navbar-nav a i {
  font-size: 19px;
}
header nav .container .right-side .navbar-nav a .bi-search:hover {
  color: red;
  transition: 0.6s;
}
header nav .container .right-side .navbar-nav .start a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.6s;
}
header nav .container .right-side .navbar-nav .start a:hover::after {
  width: 100%;
}
header nav .container .right-side .navbar-nav #active-home:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}
header #slider .owl-carousel .item .owl-text-overlay {
  position: absolute;
  padding-top: 8vw;
  padding-left: 11vw;
}
header #slider .owl-carousel .item .owl-text-overlay h2 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 400;
}
header #slider .owl-carousel .item .owl-text-overlay h2 span {
  color: red;
}
header #slider .owl-carousel .item .owl-text-overlay p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 17px;
}
header #slider .owl-carousel .item .owl-text-overlay img {
  width: 40%;
}
header #slider .owl-carousel .both {
  font-size: 26px;
  font-weight: 300;
  position: relative;
  bottom: 22vw;
  color: #afafaf;
}
header #slider .owl-carousel .owl-prev,
header #slider .owl-carousel .owl-next {
  background: none !important;
}
header #slider .owl-carousel .left {
  right: 46vw;
}
header #slider .owl-carousel .right {
  left: 46vw;
}

@media (max-width: 991px) {
  header nav .container {
    display: flex;
    align-items: center !important;
  }
  header nav .container .navbar-brand img {
    width: 50%;
  }
  header nav .container button span {
    display: flex;
    align-items: center !important;
  }
  header nav .container .right-side .navbar-nav .start {
    display: flex;
    flex-direction: column !important;
  }
  header nav .container .right-side .navbar-nav .start a {
    padding-left: 2vw;
  }
  header nav .container .right-side .navbar-nav .start a:last-child {
    padding-right: 0 !important;
  }
  header nav .container .right-side .navbar-nav .end {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  header nav .container .right-side .navbar-nav a {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  header nav .container .right-side .navbar-nav a i {
    font-size: 19px;
  }
  header nav .container .right-side .navbar-nav a .bi-search:hover {
    color: red;
    transition: 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a:hover::after {
    width: 100%;
  }
  header nav .container .right-side .navbar-nav #active-home:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
  }
  header #slider .owl-carousel .item .owl-text-overlay {
    position: absolute;
    padding-top: 2vw !important;
    padding-left: 11vw;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 400;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 span {
    color: red;
  }
  header #slider .owl-carousel .item .owl-text-overlay p {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 17px;
  }
  header #slider .owl-carousel .item .owl-text-overlay img {
    width: 40%;
  }
  header #slider .owl-carousel .both {
    font-size: 26px;
    font-weight: 300;
    position: relative;
    bottom: 22vw;
    color: #afafaf;
  }
  header #slider .owl-carousel .owl-prev,
header #slider .owl-carousel .owl-next {
    background: none !important;
  }
  header #slider .owl-carousel .left {
    right: 46vw;
  }
  header #slider .owl-carousel .right {
    left: 46vw;
  }
}
@media (max-width: 576px) {
  header nav .container {
    display: flex;
    align-items: center !important;
  }
  header nav .container .navbar-brand img {
    width: 50%;
  }
  header nav .container button span {
    display: flex;
    align-items: center !important;
  }
  header nav .container .right-side .navbar-nav .start {
    display: flex;
    flex-direction: column !important;
  }
  header nav .container .right-side .navbar-nav .start a {
    padding-left: 2vw;
  }
  header nav .container .right-side .navbar-nav .start a:last-child {
    padding-right: 0 !important;
  }
  header nav .container .right-side .navbar-nav .end {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  header nav .container .right-side .navbar-nav a {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  header nav .container .right-side .navbar-nav a i {
    font-size: 19px;
  }
  header nav .container .right-side .navbar-nav a .bi-search:hover {
    color: red;
    transition: 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.6s;
  }
  header nav .container .right-side .navbar-nav .start a:hover::after {
    width: 100%;
  }
  header nav .container .right-side .navbar-nav #active-home:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
  }
  header #slider .owl-carousel .item .owl-text-overlay {
    position: absolute;
    padding-top: 2vw !important;
    padding-left: 11vw;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 {
    font-family: "Playfair Display", serif;
    font-size: 25px !important;
    font-weight: 400;
  }
  header #slider .owl-carousel .item .owl-text-overlay h2 span {
    color: red;
  }
  header #slider .owl-carousel .item .owl-text-overlay p {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 13px !important;
  }
  header #slider .owl-carousel .item .owl-text-overlay img {
    width: 20% !important;
  }
  header #slider .owl-carousel .both {
    font-size: 26px;
    font-weight: 300;
    position: relative;
    bottom: 23vw !important;
    color: #afafaf;
  }
  header #slider .owl-carousel .owl-prev,
header #slider .owl-carousel .owl-next {
    background: none !important;
  }
  header #slider .owl-carousel .left {
    right: 44vw !important;
  }
  header #slider .owl-carousel .right {
    left: 44vw !important;
  }
}/*# sourceMappingURL=index.css.map */