@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

main {
  #products {
    #navigation-bar {
      .container {
        .row {
          .left {
            ul {
              padding: 0;
              li {
                list-style-type: none;
                a {
                  color: #1b1b1b;
                  text-decoration: none;
                  text-transform: uppercase;
                  font-family: "Montserrat", sans-serif;
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  font-weight: 500;
                }
                a:hover {
                  color: #f34f3f;
                  transition: 0.3s;
                }
                .red {
                  color: #f34f3f;
                }
              }
            }
          }
          .right {
            .dropbtn {
              font-family: "Montserrat", sans-serif;
              font-size: 12px;
              letter-spacing: 0.1em;
              font-weight: 500;
              text-transform: uppercase;
              color: #1b1b1b;
              background-color: transparent;
              border: none;
            }
            .dropdown {
              position: relative;
              display: inline-block;
            }
            .dropdown:hover {
              .dropdown-content {
                display: block;
              }
            }
            .dropdown-content {
              display: none;
              position: absolute;
              min-width: 400px;
              background-color: white;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 999;
              .dropdown-container {
                .first,
                .second {
                  h4 {
                    font-family: "Playfair Display", serif;
                    color: #464646;
                    font-weight: 400;
                    font-size: 22px;
                    text-transform: capitalize;
                    margin-left: 2vw;
                  }
                  ul {
                    li {
                      list-style-type: none;
                      a {
                        text-decoration: none;
                        color: #878787;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 500;
                        font-size: 13px;
                        text-transform: capitalize;
                        margin-bottom: 0.2vw;
                      }
                      a:hover {
                        color: #1b1b1b;
                        transition: 0.4s;
                      }
                    }
                  }
                }
              }
              a {
                text-decoration: none;
                display: block;
              }
            }
          }
        }
      }
    }
    #product-images {
      display: block;
      .container {
        .row {
          .column {
            img {
              width: 100%;
            }
            img:hover {
              width: 102%;
              transition: 0.4s;
            }
            a {
              text-decoration: none;
            }
            h4 {
              font-family: "Montserrat", sans-serif;
              font-size: 12px;
              letter-spacing: 0.1em;
              font-weight: 500;
              color: #1b1b1b;
              text-transform: uppercase;
            }
            p {
              font-family: "Montserrat", sans-serif;
              font-size: 12px;
              letter-spacing: 0.1em;
              font-weight: 600;
              color: #afafaf;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    #valentine {
      padding: 0;
      background-color: #f7f7f7;
      .container {
        .row {
          div {
            .pop-up-yt-video {
              width: 650px;
              height: 428px;
              background-image: url(https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img.jpg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              a {
                i {
                  position: relative;
                  top: 11vw;
                  left: 16vw;
                  color: orange;
                  background-color: white;
                  border: 1px solid white;
                  border-radius: 50%;
                  padding: 25px;
                  font-size: 50px;
                }
              }
            }
          }
          .surprise {
            h3 {
              color: #2b2b2b;
              font-family: "Playfair Display", serif;
              font-size: 38px;
              font-weight: 400;
              span {
                color: #f34f3f;
              }
            }
            p {
              color: #6d6a6a;
              font-family: "Lora", serif;
              font-weight: 400;
              font-size: 17px;
            }
            ul {
              li {
                list-style-type: none;
                color: #6d6a6a;
                font-family: "Lora", serif;
                font-weight: 400;
                font-size: 17px;
                i {
                  color: #f34f3f;
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
    #experts {
      margin-top: 10vw;
      .container {
        .row {
          .information-about-experts {
            h3 {
              color: #2b2b2b;
              font-family: "Playfair Display", serif;
              font-size: 38px;
              font-weight: 400;
              text-align: center;
              text-transform: capitalize;
            }
            p {
              margin-top: 1.5vw;
              color: #6d6a6a;
              font-family: "Lora", serif;
              font-weight: 400;
              font-size: 17px;
              text-align: center;
            }
          }
        }
        .row {
          .col-sm-12 {
            .expert-information {
              .main-info {
                text-align: center;
                h5 {
                  font-family: "Montserrat", sans-serif;
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  font-weight: 500;
                  color: #1b1b1b;
                  text-transform: uppercase;
                }
                p {
                  font-family: "Montserrat", sans-serif;
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  font-weight: 500;
                  color: #afafaf;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
    #parallax-effect {
      margin-top: 8vw;
      .parallax-image {
        background-image: url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg");
        min-height: 600px;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        .email{
          h4{
            text-align: center;
            color: white;
          }
        }
      }
    }
  }
}
