@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
}

header nav .container .navbar-brand img {
  width: 50%;
}
header nav .container .right-side .navbar-nav .start a {
  padding-left: 2vw;
}
header nav .container .right-side .navbar-nav .start a:last-child {
  padding-right: 3vw;
}
header nav .container .right-side .navbar-nav a {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}
header nav .container .right-side .navbar-nav a i {
  font-size: 19px;
}
header nav .container .right-side .navbar-nav a .bi-search:hover {
  color: red;
  transition: 0.6s;
}
header nav .container .right-side .navbar-nav .start a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.6s;
}
header nav .container .right-side .navbar-nav .start a:hover::after {
  width: 100%;
}
header nav .container .right-side .navbar-nav #active-home:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}
header #slider .owl-carousel .item .owl-text-overlay {
  position: absolute;
  padding-top: 8vw;
  padding-left: 11vw;
}
header #slider .owl-carousel .item .owl-text-overlay h2 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 400;
}
header #slider .owl-carousel .item .owl-text-overlay h2 span {
  color: red;
}
header #slider .owl-carousel .item .owl-text-overlay p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 17px;
}
header #slider .owl-carousel .item .owl-text-overlay img {
  width: 40%;
}
header #slider .owl-carousel .both {
  font-size: 26px;
  font-weight: 300;
  position: relative;
  bottom: 22vw;
  color: #afafaf;
}
header #slider .owl-carousel .owl-prev,
header #slider .owl-carousel .owl-next {
  background: none !important;
}
header #slider .owl-carousel .left {
  right: 46vw;
}
header #slider .owl-carousel .right {
  left: 46vw;
}

body header #category-filter {
  background-color: #fafaf9;
  padding: 3vw 0;
}
body header #category-filter .container .row .col h1 {
  text-transform: capitalize;
  color: #0e0e0e;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
}
body header #category-filter .container .row .col p {
  font-size: 17px;
  font-family: "Lora", serif;
  color: #6d6a6a;
  font-style: italic;
}
body main #first-post {
  margin-top: 5vw;
}
body main #first-post .container .row .col-9 .blogpost .image-container a img {
  width: 100%;
}
body main #first-post .container .row .col-9 .blogpost .text-container {
  margin-top: 2vw;
}
body main #first-post .container .row .col-9 .blogpost .text-container a {
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}
body main #first-post .container .row .col-9 .blogpost .text-container p {
  margin-top: 1.5vw;
  font-size: 15px;
  font-family: "Lora", serif;
  color: #6d6a6a;
}
body main #first-post .container .row .col-9 .blogpost .additional-info {
  margin-top: 2vw;
}
body main #first-post .container .row .col-9 .blogpost .additional-info ul {
  padding: 0;
}
body main #first-post .container .row .col-9 .blogpost .additional-info ul li {
  list-style-type: none;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #afafaf;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15em;
}
body main #first-post .container .row .col-9 .blogpost .additional-info ul li a {
  color: #595858;
  text-decoration: none;
}
body main #first-post .container .row .col-9 .blogpost .additional-info ul .comment {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #afafaf;
  font-weight: 500;
  letter-spacing: 0.15em;
}
body main #first-post .container .row .col-9 .blogpost .additional-info ul .comment i {
  font-size: 20px;
}
body main #first-post .container .row .col-9 .blogpost .additional-info ul li:not(:last-child) {
  margin-right: 1vw;
}
body main #first-post .container .row .col-9 .quote {
  margin-bottom: 5vw;
}
body main #first-post .container .row .col-9 .quote .quote-container {
  background-color: #fdfbfc;
  padding: 4vw 5vw;
}
body main #first-post .container .row .col-9 .quote .quote-container h5 a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
body main #first-post .container .row .col-9 .quote .quote-container p {
  color: #1b1b1b;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}
body main #first-post .container .row .col-9 .navigation-icons .nav-container a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
body main #first-post .container .row .col-9 .navigation-icons .nav-container .first {
  color: #afafaf;
}
body main #first-post .container .row .col-9 .navigation-icons .nav-container .second {
  color: #595858;
}
body main aside .container .row .col-3 .input-group input {
  border: 1px solid #ede0cc;
  font-size: 12px;
  border-right: none;
  padding: 1vw 5vw 1vw 1vw;
}
body main aside .container .row .col-3 .input-group button {
  border: 1px solid #ede0cc;
  border-left: none;
  color: #6d6a6a;
}
body main aside .container .row .col-3 .input-group button:hover {
  background-color: transparent;
  color: #6d6a6a;
}
body main aside .container .row .col-3 .category-container p {
  color: #1b1b1b;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}
body main aside .container .row .col-3 .category-container ul {
  padding: 0;
}
body main aside .container .row .col-3 .category-container ul li {
  list-style-type: none;
}
body main aside .container .row .col-3 .category-container ul li a {
  color: #8b8b8b;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 400;
}
body footer {
  background-color: #fefaf3;
}
body footer .container {
  padding-top: 5vw;
  padding-bottom: 1vw;
}
body footer .container .row .end {
  margin-bottom: 2vw;
}
body footer .container .row .end .footer-container p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
body footer .container .row .end .footer-container ul {
  margin: 0;
  padding: 0;
}
body footer .container .row .end .footer-container ul li {
  list-style-type: none;
}
body footer .container .row .end .footer-container ul li a {
  text-decoration: none;
  color: #8b8b8b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
body footer .container .row .end .footer-container ul li a:hover {
  color: #f34f3f;
  transition: 0.4s;
}
body footer .container .second {
  border-top: 1px solid #d9d5cf;
}
body footer .container .second .footer-info-container p {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
body footer .container .second .footer-info-container p span {
  color: #6d6a6a;
}
body footer .container .second .social-media .socials a {
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
body footer .container .second .social-media .socials a:hover {
  color: #f34f3f;
  transition: 0.4s;
}/*# sourceMappingURL=sidebarblog.css.map */